{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>added data</title>
    <script
			  src="https://code.jquery.com/jquery-3.6.4.js"
			  integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
			  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  
    <div class="topbar">
        <a href="{% url 'Cce:logout' %}">logout</a>
        {{cce_details.cce_name}}
        {{msg}}
     </div>
     <div class="main_body">
         <div class="side_bar">
             <a href="#">View Complaints </a>
             <a href="{% url 'Cce:cce_home' %}">Home</a>
             
             <!-- <a href="#">My Profile</a> -->

 
         </div>

         <div class="main_window">
            {{complaint_data.id}}
            <table class="work_list">
                <tr>      <td>Complaint Number</td> <td>{{complaint_data.complaint_number}}</td>    </tr>
                <tr>      <td>Customer Name</td> <td>{{complaint_data.cus_name}}</td>    </tr>
                <tr>      <td>Customer Phone</td> <td>{{complaint_data.cus_phone1}}</td>    </tr>
                <tr>      <td>Alternate number</td> <td>{{complaint_data.cus_phone2}}</td>    </tr>
                <tr>      <td>Email</td> <td>{{complaint_data.cus_email}}</td>    </tr>
                <tr>      <td>Adress</td> <td>{{complaint_data.cus_address}}</td>    </tr>
                <tr>      <td>Product Category</td> <td>{{complaint_data.productcategory_name}}</td>    </tr>
                <tr>      <td>Product Model</td> <td>{{complaint_data.model_name}}</td>    </tr>
                <tr>      <td>Complaint</td> <td>{{complaint_data.complaint}}</td>    </tr>
                <tr>      <td>purchase Date</td> <td>{{complaint_data.purchas_date}}</td>    </tr>
                <tr>      <td>Warrenty </td> <td>{{complaint_data.warrenty}}</td>    </tr>
                <tr>      <td>complaint registration date</td> <td>{{complaint_data.day}}</td>    </tr>
                <tr>      <td>Technician</td> <td>{{complaint_data.technician_name}}</td>    </tr>
                <tr>      <td>status</td> <td>{{complaint_data.status}}</td>    </tr>
                <tr>      <td>Physical Damage</td> <td>{{complaint_data.physical_damage}}</td>    </tr>
                <tr>      <td>Remark</td> <td>{{complaint_data.remark}}</td>    </tr>
            </table>

            <a href="{% url 'Cce:register_work' %}"><div class="button_1">New Complaint</div>
         </div>

         </div>
 
      <script>
        console.log(complaint_data)
      </script>
      








    

   

</body>
</html>